.menu {
  /* height: 100%; */
  padding: 3rem 2rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border-right: 1px solid var(--border-light-grey); */
  /* padding: 1rem 2rem; */
  color: var(--light-white);
}

.item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

.item:hover {
  background-color: var(--input-backround-color);
  color: var(--full-white);
}

.item img {
  height: 20px;
}

.item:last-child {
  margin-top: auto;
  color: var(--full-white);
}
